<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%= 20 + (@q_num * 3) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 20 + (@q_num * 3) %>%">
    <span class="progress-text"><%= 15 + (@q_num * 3.35).to_i %>% Complete</span>
  </div>
</div>

<div class="vert-space-sm"> </div>

<center><h3>For each of the following questions, please choose any point on the line </h3></center>

<div class="vert-space-lg"> </div>

<%= form_for @answer do |f| %>

<% @foods.each do |food| %>

  <h4 class="col-md-offset-1 col-md-10" style="font-size: 1.15em; line-height: 1.6em; clear: both;"><%= @question.prompt_left %><strong><span style="font-size: 1.08em"><%= food.name %></span></strong><% if @q_num == 14 %> or eating less <%= food.name %><% end %><%= @question.prompt_right %><% if @q_num == 2 %> &nbsp;_____&nbsp; <%= food.unit %><% end %></h4>

    <center><div class="slider-fill">

    <%= f.range_field :vas_values, min: 1, max: 500, step: 1, class: 'not-clicked', :multiple => true %>

    <%= f.hidden_field :user_ids, :multiple => true, :value => current_user.id %>
    <%= f.hidden_field :question_ids, :multiple => true, :value => @q_num %>
    <%= f.hidden_field :survey_ids, :multiple => true, :value => @survey.id %>
    <%= f.hidden_field :food_ids, :multiple => true, :value => food.id %>

      <div class="slider-ticks" id="slider-tick1"> </div>
      <div class="slider-ticks" id="slider-tick2"> </div>
      <div class="slider-ticks" id="slider-tick3"> </div>
      <div class="slider-ticks" id="slider-tick4"> </div>
      <div class="slider-ticks" id="slider-tick5"> </div>


      <div class="slider-ticks-text" id="slider-tick-text1">  <% if @q_num == 2 %>                    0
                                                              <% elsif @q_num == 4 || @q_num == 21 %> Agree
                                                              <% else %>                              Never
                                                              <% end %></div>
      <div class="slider-ticks-text" id="slider-tick-text2">  <% if @q_num == 2 %>                    1/4
                                                              <% elsif @q_num == 4 || @q_num == 21 %>
                                                              <% else %>                              Once a year
                                                              <% end %> </div>
      <div class="slider-ticks-text" id="slider-tick-text3">  <% if @q_num == 2 %>                    1/2
                                                              <% elsif @q_num == 4 || @q_num == 21 %>
                                                              <% else %>                              Once a month
                                                              <% end %></div>
      <div class="slider-ticks-text" id="slider-tick-text4">  <% if @q_num == 2 %>                    3/4
                                                              <% elsif @q_num == 4 || @q_num == 21 %>
                                                              <% else %>                              Once a week
                                                              <% end %></div>
      <div class="slider-ticks-text" id="slider-tick-text5">  <% if @q_num == 2 %>                    1
                                                              <% elsif @q_num == 4 || @q_num == 21 %>
                                                              <% else %>                              Once a day
                                                              <% end %></div>
      <div class="slider-ticks-text" id="slider-tick-text6">  <% if @q_num == 2 %>                    More than one
                                                              <% elsif @q_num == 4 || @q_num == 21 %> Disagree
                                                              <% else %>                              More than once a day
                                                              <% end %></div>

</div></center>

<div class="vert-space-lg"> </div>
<div class="vert-space-sm"> </div>
    <% end %>
<div class="vert-space-sm"> </div>

      <%= f.submit 'Next', :class => 'col-md-offset-9 btn btn-primary btn-surv', :disabled => true %>

  <% end %>

<div class="vert-space-lg"> </div>


<script>
$('.not-clicked').click(function(e) {
  $(this).removeClass('not-clicked');
  $(this).addClass('clicked');

  if ($('.not-clicked').length == 0) {
   var nextBtn = document.getElementsByName("commit")[0];
   nextBtn.removeAttribute('disabled');
  }
});
</script>
