
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 1.5em;">
<span class="progress-text">0% Complete</span>
  </div>
</div>

<div class="vert-space-sm"> </div>

<center><h2>Please read through the following food categories and foods</h2><br></center>

<div class="vert-space-lg"></div>


<div class="panel panel-default" style="max-width: 100%; min-width: 790px">
  <table class="table table-bordered table-striped" id="sortable">
    <col style="width: 24%;">
    <thead>
      <tr>
        <th style="font-size: 1.6em; padding: 16px; padding-left: 1.1em">
          Food Categories
        </th>
        <th style="font-size: 1.6em; padding: 16px; padding-left: 1.1em">
          Example Foods in Each Category
        </th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td style="font-size: 1.4em; padding: 13px; padding-left: 1.5em">
            <%= category.name %>
          </td>
          <td style="font-size: 1.15em; padding: 13px; padding-left: 1.5em">
            <% category.foods.each_with_index do |food, i| %>
              <%= food.name %><% if i + 1 != category.foods.length %>, <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="vert-space-lg"></div>


<%= button_to "Start Survey", survey_category_selection_path, class: "col-md-offset-9 btn-lg btn-primary btn-surv", method: :get %>


<!-- FOR DYNAMIC PAGE

<div class="vert-space-lg"></div>

<% @categories.each do |category| %>
    <div class="col-md-3"  style="">
    <div style="font-size: 1.2em; margin-bottom: 8px; font-weight: bold"><%= category.name %></div>
</div>
<% end %>

<div class="vert-space-lg"></div>

<% @categories.each_with_index do |category, i| %>
    <div class="col-md-6" style=" <% if i == 6 || i == 7 %>
                                     min-height: 290px;
                                  <% elsif i == 5 || i == 4 %>
                                    min-height: 165px;
                                  <% else %>
                                    min-height: 215px;
                                  <% end %> ">
    <h4><strong><%= category.name %></strong></h4>


    <% category.foods.each do |food| %>
    <div class="col-md-offset-1" >
      <%= food.name %>
    </div>
    <% end %>
    </div>
<% end %>

-->
